@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

/* Variables
   ========================================================================== */

/* Generic
   ========================================================================== */
* { box-sizing: border-box; }

/* Tools
    ========================================================================== */
:fullscreen a {
    display: flex
}

body {
    background-color: white
}

#content {

    white-space: nowrap;
    text-align: center;
    height: 500px;

    .hello_world {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 84px;
        margin-top: 50vh;
        transform: translateY(-50%);
    }

}

/* Modules
   ========================================================================== */
// @import "modules/comments";

/* Pages
   ========================================================================== */
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
